.code-box-demo {
    text-align: center;
  }
  .ant-layout-header,
  .ant-layout-footer {
    background: #7dbcea;
    color: #fff;
  }
  .ant-layout-footer {
    line-height: 1.5;
  }
  .ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
  }
  .ant-layout-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }
  .code-box-demo > div > .ant-layout {
    margin-bottom: 48px;
  }
  .code-box-demo > div > .ant-layout:last-child {
    margin: 0;
  }
.hideOnSmallerDevices{
    display:none;
}

.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal{
    border: hidden !important;
}
/* For mobile drawer submenu items padding issues */
.ant-menu-item-group{
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  left: -1rem;
}
.ant-menu-item-group{
  padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
    left: -1rem !important;
}
.ant-drawer-body{
  padding: 0 !important;
}

/* Ended: =>  For mobile drawer submenu items padding issues*/